<header>
  <div class="menu-container" target="_top">
    <div class="menu-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <a href="#">GlobeTrotter</a>
  <div class="box">
    <a href="#">List all Destinations</a>
    <div class="search">
      <input type="text" />
      <img src="../assets/search-outline.svg" alt="" class="icon" />
    </div>
  </div>
</header>
<main class="image-container" (wheel)="handleMouseWheel($event)">
  <img
    *ngIf="imgUrl"
    [src]="imgUrl"
    alt=""
    class="first-image img"
    [ngClass]="{ animate: animatePic }"
  />
  <div class="second-clip-path img-wrap">
    <img
      *ngIf="imgUrl"
      [src]="imgUrl"
      alt=""
      class="second-image img"
      [ngClass]="{ animate: animatePic }"
    />
  </div>
  <div class="third-clip-path img-wrap">
    <img
      *ngIf="imgUrl"
      [src]="imgUrl"
      alt=""
      class="third-image img"
      [ngClass]="{ animate: animatePic }"
    />
  </div>

  <!-- Title and Location -->
  <div class="content" [ngClass]="{ bodyanimated: animatePic }">
    <h1 class="title">{{ currentTitle }}</h1>
    <h1 class="title">{{ nextTitle }}</h1>
  </div>

  <hr />
  <div class="content2" [ngClass]="{ bodyanimated: animatePic }">
    <h2 class="location">{{ nextLocation }}</h2>
    <h2 class="location">{{ currentLocation }}</h2>
  </div>
  <div class="container-arrows">
    <div class="arrow-left">↼</div>
    <div class="middle-line"><span class="line"></span></div>
    <div class="arrow-right">⇀</div>
  </div>
</main>
<footer>
  <div class="footer">
    <img src="../assets/share.svg" alt="" class="share" />
  </div>
  <a href="">Discover the Destination</a>
  <div class="go-next">
    <button
      [ngClass]="{ animateshine: animatePic }"
      class="next-button animateshine"
      (click)="animate()"
    >
      ↻
    </button>
  </div>
</footer>
