header,
footer {
  position: fixed;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #fff;
}
.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-icon {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  /* padding: 5px; */
}
.menu-icon span {
  width: 32px;
  height: 3px;
  background-color: #fff;
  display: block;
}

.menu-icon span:nth-child(2) {
  margin: 6px 0;
}

a {
  font-family: "Literata", serif;
  font-weight: 400;
}

header > *,
footer > * {
  flex: 1 1 100%;
  padding: 2rem;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

header > *:nth-child(2),
footer > *:nth-child(2) {
  text-align: center;
}

header > *:nth-child(3),
footer > *:nth-child(3) {
  text-align: right;
}
.icon {
  width: 20px;
}
.box {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.search {
  display: flex;
}
.box input {
  width: 30px;
  outline: none;
  border: none;
  background: transparent;
  color: #fff;
}
/* Main Part */

.image-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img {
  position: absolute;
  width: max(112vw, 112vh);
  aspect-ratio: 1/1;
}

.first-image {
  animation-delay: 0.4s;
  transition: all 1.2s;
}

.img-wrap {
  position: absolute;
  width: max(112vw, 112vh);
  aspect-ratio: 1/1;
  overflow: hidden;
}

.second-clip-path {
  clip-path: circle(30%);
}
.third-clip-path {
  clip-path: circle(16%);
}

.second-image {
  clip-path: circle(30%);
  animation-delay: 0.2s;
  filter: brightness(0.7);
  transition: all 1.2s;
}
.third-image {
  position: relative;
  clip-path: circle(16%);
  transition: all 1.2s;
}

/* Animations for Images */

.animate {
  animation: rotate 1.2s linear forwards;
  transform-origin: center;
}

.first-image.animate {
  animation-delay: 0.06s;
  transition-delay: 0.06s;
}
.second-image.animate {
  animation-delay: 0.03s;
  transition-delay: 0.03s;
}

.third-image.animate {
  animation-delay: 0s;
  transition-delay: 0s;
}

/* Titles */

.content {
  position: absolute;
  top: 45%;
  left: 52%;
  width: 95%;
  text-align: center;
  transform: translate(-50%, -50%);
  overflow: hidden;
  height: 100px;
}
.title {
  color: #fff;
  font-family: "Literata";
  font-weight: 200;
  font-size: clamp(2rem, 8vw, 4rem);
  letter-spacing: clamp(0.5rem, 5vw, 10rem);
  transition-delay: 0.5s;
  line-height: 100px;
}

.content2 {
  position: absolute;
  top: 48%;
  left: 50%;
  width: 95%;
  text-align: center;
  transform: translate(-50%, 130%);
  overflow: hidden;
  height: 60px;
  margin-top: 20px;
}
.location {
  color: #fff;
  font-family: "Literata";
  font-weight: 400;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  letter-spacing: clamp(0.5rem, 3vw, 5rem);
  transition-delay: 0.5s;
  line-height: 60px;
  transform: translateY(-120%);
}

/* Animations for Titles */

.bodyanimated h1 {
  transition-delay: 0.4s;
  transition-duration: 0.4s;
}
.bodyanimated h1 {
  transform: translateY(-100px);
}

.bodyanimated h2 {
  transform: translateY(-20%);
}

.bodyanimated h2 {
  transition-delay: 0.4s;
  transition-duration: 0.4s;
}

/* Arrows and Lines */

hr {
  border: none;
  height: 2px;
  background: #ffffff72;
  position: absolute;
  top: 54%;
  left: 50%;
  width: 30%;
  text-align: center;
  transform: translate(-50%, -30%);
}
.content-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  text-align: center;
  transform: translate(-50%, -50%);
  overflow: hidden;
  height: 100px;
}
.container-arrows {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 30%;
  transform: translate(-50%, -30%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffffc8;
}
.arrow-left {
  font-size: 40px;
  font-weight: 100;
}
.middle-line {
  font-size: 65px;
  font-weight: 100;
  color: #ffffff72;
}

.line {
  width: 3px;
  height: 60px;
  background-color: #ffffff72;
  display: block;
  margin: 2rem;
}
.arrow-right {
  font-size: 40px;
  font-weight: 100;
}

/* Footer */
.share {
  width: 35px;
}
.go-next {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.go-next hr {
  display: inline-block;
  width: 25px;
  margin: 0 1vw;
}

.next-button {
  background: #cfd865;
  width: clamp(2rem, 4vw, 3rem);
  aspect-ratio: 1/1;
  border: none;
  border-radius: 50%;
  font-size: clamp(1rem, 2vw, 1.5rem);
  cursor: pointer;
}
.animateshine {
  animation: shine 0.5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes shine {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.66);
  }
  100% {
    box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
  }
}

@keyframes rotate {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }

  50% {
    transform: scale(1.8) rotate(180deg);
    opacity: 0.5;
  }

  100% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}

@media only screen and (max-height: 800px) {
  .container-arrows {
    top: 72%;
  }
  .content2 {
    top: 45%;
  }
}

@media only screen and (max-width: 400px) {
  header > *,
  footer > * {
    padding: 0.4rem;
  }
  .box input {
    width: 10px;
  }
  .box {
    gap: 0;
    flex-direction: column;
    align-items: flex-end;
  }
  .share {
    width: 25px;
  }
}
